﻿<div>
	    <h3>Online Help: </h3>
	    <p>The <b>Citizen Service Request</b> application allows citizens to submit requests for service in their community. It is a single application that can be used on a desktop browser, mobile phone, and tablet device.  This application provides 24x7 access to the organization and typically supplements customer service phone numbers staffed by local governments.</p>
	    <h4><u>Using the Application</u></h4>
	    <p>The Citizen Service Request application allows citizens to submit requests for service. Search for an address or click/tap directly on the map to locate your request for service. Then, provide details about the request and click/tap Submit to initiate your request. You can also attach a photo, video or document to your request.  After you click/tap Submit, you'll be provided a Request # that can be used to track the status of your request.  If you find a request has already been submitted by someone else at the location you're interested in, you can select the existing service request.  Then provide additional comments and rank the importance of this issue to you. In local governments that have deployed an automated system (CRM/ CMMS systems) to track service requests and work activities, the online requests will be routed to staff responsible for its resolution. If an automated is not present in the local government, a manual service ticket will typically be created and routed to appropriate staff.<br/><br/></p>
        <h4><u>Finding an Area of Interest</u></h4>
        <p>There are two primary ways to identify an area of interest. You can interact directly with the map and click/tap on a service request. You can also search for an address.</p>
        <h4><u>Map Based Navigation (On a Desktop PC)</u></h4>
        <p>There are several ways to interact with the map:<br/><br/>1. Use the basemap switcher to select the basemap you'd like to interact with<br/>2. Hold down the shift key and drag a box on the map to zoom in<br/>3. Hold Down Ctrl+Shift to zoom out<br/>4. Roll your mouse roller to zoom in/out<br/>5. Click the zoom in/out button</p>
        <h4><u>Map Based Navigation (On a Touch Screen Device)</u></h4>
        <p>There are two ways to interact with the map:<br/><br/>1. Pinch to zoom in/out<br/>2. Tap the zoom in/out button<br/>
        <h4><u>Searching</u></h4>
        <p>The search box can be used to find an address you're interested in:<br/>1. Enter the address you're interested in<br>3. Click on the item in the list to locate the address on the map<br/><br/>You can enter a partial address and then identify the correct value in the list.</p>
        <h4><u>Service Requests</u></h4>
        <p>Search for an address or click directly on the map to locate your request for service. Then, provide details about the request and click Submit to initiate your request. You'll be provided a Request # that can be used to track the status of your request. If you find a request has already been submitted by another party, you can click on the existing request, provide additional comments and increase the importance of the request.</p>
</div>
