﻿/*
 | Version 10.2
 | Copyright 2012 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
 */
/* This file contains the common style settings for "Service Request" template */
/* Use this file to perform the following: */

/* 1.  Set the body styles                      - { Style(s) to look for: html, body } */
/* 2.  Set styles for splash screen             - { Style(s) to look for: divSplashScreenContainer,divSplashScreenContent,divSplashScreenDialogContent,divSplashContainer,
                                                                           divSplashContent,customButton,customButtonInner } */

/* 3.  Set the styles for animations            - { Style(s) to look for: showContainer,hideContainer,
                                                                          hideContainerHeight,showContainerHeight,opacityHideAnimation,hideContainerHeight,showContainerHeight,esriLogo}*/
/* 4.  Set the styles for share container       - { Style(s) to look for: divAppContainer,divAppHolder}*/
/* 5.  Set the styles for application header    - { Style(s) to look for: tableHeader,imgOptions,imgApp,divLogo,divApplicationHeader,lblAppName}*/
/* 6.  Set the styles for search container      - { Style(s) to look for: divAddressScrollContainer,divAddressScrollContent,tblHeader,divAddressPlaceHolder,txtAddress,
                                                                          imgLocate,divAddressList,bottomborder,tdSearchByAddress,tdSearchByRequest,tdSearchByUnSelectedRequest,tdSearchByUnSelectedAddress,imgSearchLoader}*/
/* 7.Set the Styles for Basemap Container       - { Style(s) to look for: basemapThumbnail,baseMapContainerNode,basemapLabel,divLayerContentHolder}*/
/* 8.  Set the styles for info window           - { Style(s) to look for: divInfoContainer,spanFileDetails,createSelect,divDetails,divCommentsContainer,divCommentsContent, .divInfoDetailsScroll,
                                                                          tdInfoHeader,divInfoDetails,divInfoComments, divCreateRequestContent,divInfoWindowContainer,divTriangle,spanContentText,title,dj_ie,imgInfoWindow,
																		  ratingStar,ratingStarChecked,ratingStarBig,ratingStarBigChecked,filehidden,DIV.fileUploadContainer,DIV.fileUploadContainer INPUT
                                                                          ,DIV.fileinputs,txtDescription,divDropdown,txtBox,txtDescription,txtFileName,divCreateRequest,divUploadDialogContainer,divCreateRequestScrollContent
                                                                          ,tdBreakWord ,txtSelectedRequest,trTextAreaRowStyle,imgDropdownCarot,divRequestTypes}*/
/* 9. Set the Styles for custom scrollbar       - { Style(s) to look for: scrollbar_track,scrollbar_handle,scrollbar_container,scrollbar_content}*/
/* 10. Set the styles for loading indicator     - { Style(s) to look for: divLoadingIndicator}*/


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* 1.Styles for body*/

body, html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana !important;
    overflow: hidden;
    color: White;
    visibility: visible !important;
}

/*---------------------------------------------------------------------------------------------------------*/
/* 2.Styles for splash screen*/

.divSplashScreenContainer
{
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.65);
    -pie-background: rgba(0,0,0,0.65);
    behavior: url("styles/PIE.htc");
    position: absolute;
    z-index: 1003;
    width: 100%;
    height: 100%;
}
.divSplashScreenContent
{
    z-index: 1003;
    background-color: black;
    text-align: left;
}

.divSplashScreenDialogContent
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #fff;
    -moz-box-shadow: 0 0 10px #fff;
    -o-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    behavior: url("styles/PIE.htc");
}

.divSplashContainer
{
    overflow: hidden;
    position: relative;
}

.divSplashContent
{
    padding-left: 10px;
    overflow: hidden;
    width: 90%;
}

.customButton
{
    border: none;
    color: #fff;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#454545)) !important;
    background: -moz-linear-gradient(top, #888, #454545) !important;
    background: -o-linear-gradient(#888, #454545) !important;
    background: linear-gradient(#888, #454545) !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.customButtonInner
{
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#888888', endColorstr='#454545');
    width: 100%;
    height: 100%;
}


.divHelpScreenContainer
{
    top: 55px;
    right: 0px;
    background: rgba(0,0,0,0.65);
    -pie-background: rgba(0,0,0,0.65);
    behavior: url("styles/PIE.htc");
    position: absolute;
    z-index: 1003;
    max-width: 350px;

}
.divHelpScreenContent {
margin:20px;

}

.divHelpContainer {
margin-top: 10px;
overflow-y:auto;
}

/*---------------------------------------------------------------------------------------------------------*/
/* 3.animations */

.showContainer
{
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
    transition: All 0.5s ease-in;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.hideContainer
{
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
    transition: All 0.5s ease-in;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.opacityHideAnimation
{
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in;
    -moz-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in;
    -o-transition: visibility 0s linear 0.5s, opacity 0.5s ease-in;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-in;
}

.hideContainerHeight
{
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in;
    -moz-transition: height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    height: 0px;
}

.showContainerHeight
{
    overflow: hidden;
    -webkit-transition: height 0.5s ease-in;
    -moz-transition: height 0.5s ease-in;
    -o-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
    height: 100%;
}

.esriLogo
{
    bottom: 10px;
    -webkit-transition: bottom 0.5s ease-in;
    -moz-transition: bottom 0.5s ease-in;
    -o-transition: bottom 0.5s ease-in;
    transition: bottom 0.5s ease-in;
    z-index: 1001 !important;
}


/*---------------------------------------------------------------------------------------------------------*/
/* 4.Share Container Styles*/

.divAppContainer
{
    position: absolute;
    z-index: 1002;
    top: 60px;
    right: 15px;
    background-color: transparent;
}

.divAppHolder
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.9);
    -pie-background: rgba(0,0,0,0.9);
    behavior: url("styles/PIE.htc");
}

/*---------------------------------------------------------------------------------------------------------*/
/* 5.Header Styles*/

.tableHeader
{
    width: 100%;
    height: 100%;
}

.imgOptions
{
    height: 30px;
    width: 30px;
}

.imgApp
{
    width: 275px;
    height: 50px;
}

.divLogo
{
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 75px;
    z-index: 1001;
    display: none;
}

.divApplicationHeader
{
    vertical-align: middle;
    background: rgba(12,27,46,1.0);
    -pie-background: rgba(0,0,0,0.9);
    behavior: url("styles/PIE.htc");
    top: 0px;
    height: 55px;
    width: 100%;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    font-size: 24px;
}

.lblAppName
{
    padding-left: 400px;
    font-size: 36px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    display:none;

}

/*---------------------------------------------------------------------------------------------------------*/
/*6.AddressContainer Styles*/

.divAddressScrollContainer
{
    overflow: hidden;
    position: relative;
}

.divAddressScrollContent
{
    overflow: hidden;
    width: 93%;
    color: White;
}

.tblHeader
{
    background-color: #303030;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: gray 1px solid;
}

.divAddressPlaceHolder
{
    border: 1px solid #242424;
    background-color: #333333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    width: 98%;
}

.txtAddress
{
    background-color: #333333;
    color: #fff;
    width: 282px;
    border: none !important;
    outline: none;
    font-family: Verdana !important;
    padding: 0px !important;
    vertical-align: middle;
    line-height: 30px;
}

.imgLocate
{
    position: absolute;
    cursor: pointer;
}

.divAddressList
{
    margin-top: 5px;
    color: #fff;
    z-index: 101;
    background-color: transparent;
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.bottomborder
{
    border-bottom: 1px solid white;
}

.tdSearchByAddress
{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    min-width: 90px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-bottom-top-left-radius: 5px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    cursor: default;
    background-color: #AAAAAA;
}

.tdSearchByRequest
{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    min-width: 90px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    cursor: default;
    background-color: #AAAAAA;
}

.tdSearchByUnSelectedRequest
{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
     min-width:90px;
    text-align: center;
    background: #202020;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-bottom-top-right-radius: 5px;
    cursor: pointer;
}

.tdSearchByUnSelectedAddress
{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    min-width:90px;
    text-align: center;
    background: #202020;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius: 5px 0px 0px 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-bottom-top-right-radius: 5px;
    cursor: pointer;
}


.imgSearchLoader
{
    vertical-align: middle;
    display: none;
    cursor: default;
}
/*---------------------------------------------------------------------------------------------------------*/
/*7.Basemap Container Styles*/

.basemapThumbnail
{
    -moz-box-shadow: 0 0 7px #000000;
    border: 1px solid #fff;
    height: 67px;
    margin: 1px;
    width: 102px;
    cursor: pointer;
}

.baseMapContainerNode
{
    float: left;
    margin: 10px 10px 10px 10px;
    width: 100px;
}

.basemapLabel
{
    background-color: transparent;
    color: #fff;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: block;
}

.divLayerContentHolder
{
    overflow: auto;
    padding: 7px;
}

/*---------------------------------------------------------------------------------------------------------*/
/* 8.InfoWindow Styles*/

.divInfoContainer
{
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.9);
    position: absolute;
    z-index: 1002;
    width: 100%;
    height: 100%;
}

.spanFileDetails
{
    word-wrap: break-word;
    color: White;
    cursor: pointer;
    text-decoration: underline;
     word-break: break-all;
}

.createSelect
{
    color: White;
    cursor: pointer;
    text-decoration: underline;
    vertical-align: bottom;
}

.divDetails
{
    position: relative;
    display: none;
}

.divCommentsContainer
{
    position: relative;
}

.divCommentsContent, .divInfoDetailsScroll
{
    overflow: hidden;
    width: 95%;
    color: White;
}

.tdInfoHeader
{
    font-weight: bolder;
}

.divInfoDetails, .divInfoComments
{
    margin-left: 5px !important;
}

.divCreateRequestContent
{
    margin-left: 5px;
}

.divInfoWindowContainer
{
    z-index: 1000;
    position: absolute;
    background-color: #585858;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.divTriangle
{
    border: solid 20px transparent;
    border-top-color: #585858;
    border-bottom: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
    position: relative;
    margin: auto;
    bottom: 0px;
}

.spanContentText
{
    margin-left: 5px;
    margin-top: 5px;
}

.title
{
    font-weight: bolder;
}

.dj_ie .divInfoWindowContainer
{
    border: none;
}

.divInfoWindowContainer .container
{
    position: absolute !important;
    top: 0;
    left: 0;
}

.imgInfoWindow
{
    position: relative;
}

.divInfoWindowContainer .content
{
    position: relative;
    color: #fff;
    overflow: auto;
}

.divInfoWindowContainer .title
{
    font-weight: bolder;
    height: 21px;
    padding: 7px 3px 2px 7px !important;
    color: #fff;
    background-color: #303030;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: gray 1px solid;
}

.ratingStar
{
    display: inline-block;
    background-image: url("../images/rating_empty.png");
    background-position: left center;
    padding-left: 2px;
    height: 20px;
    width: 20px;
    float: left;
}

.ratingStarChecked
{
    background-image: url("../images/rating_full.png");
}

.ratingStarBig
{
    display: inline-block;
    background-image: url("../images/rating_empty.png");
    background-position: left center;
    height: 22px;
    width: 23px;
    float: left;
}

.ratingStarBigChecked
{
    background-image: url("../images/rating_full.png");
}

.txtArea
{
    border: 1px solid #242424;
    padding: 1px;
    background-color: #333333;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    resize: none;
    overflow: auto;
    font-family: Verdana !important;
}

.filehidden
{
    margin-left: -160px;
    opacity: 0;
    outline: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    cursor: pointer;
}

DIV.fileUploadContainer
{
    padding-right: 0px;
    padding-left: 0px;
    z-index: 1;
    left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    width: 235px;
    padding-top: 0px;
    top: 0px;
    align: top;
}

DIV.fileUploadContainer INPUT
{
    width: 190px !important;
    background-color: #333333;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 25px;
}

.fileinputs
{
    width: 65px;
    height: 25px;
    outline: none;
    background: url("../images/browse.png") 0 0 no-repeat;
    border: none;
    overflow: hidden;
    cursor: pointer;
}

.txtDescription
{
    height: 50px;
    resize: none;
    overflow: auto;
    font-family: Verdana !important;
}

.divDropdown
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    padding: 0px !important;
    border: 0px !important;
}

.txtBox, .txtDescription, .txtFileName
{
    border: none !important;
    outline: none;
    padding: 0px !important;
    margin-left: 4px;
    vertical-align: middle;
    background-color: #333333;
    color: #fff;
    font-family: Verdana !important;
    width: 235px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.divCreateRequest, .divUploadDialogContainer
{
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.9);
    -pie-background: rgba(0,0,0,0.9);
    behavior: url("styles/PIE.htc");
    position: absolute;
    width: 100%;
    height: 100%;
}

.divCreateRequest
{
    z-index: 1002;
}

.divUploadDialogContainer
{
    z-index: 1003 !important;
}

.divUploadDialog
{
    width: 250px;
    min-height: 150px;
    background-color: rgba(61, 61, 61,.65);
    z-index: 1003;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px #fff;
    -moz-box-shadow: 0 0 15px #fff;
    -o-box-shadow: 0 0 15px #fff;
    box-shadow: 0 0 15px #fff;
}

.divCreateRequestScrollContent
{
    overflow: hidden;

}

.tdBreakWord
{
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
}

.divDropDownContainer
{
    vertical-align: middle;
}

.tdBreak
{
    word-wrap: break-word;
}

.txtSelectedRequest
{
    padding: 0px !important;
    margin-left: 4px;
    background-color: #333333;
    width: 211px;
    border: none !important;
    color: white;
    font-family: Verdana !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.trTextAreaRowStyle
{
    height: 54px;
}

.imgDropdownCarot
{
    cursor: pointer;
    right: 0px;
    width: 24px;
    margin-bottom: -2px;
}

.divRequestTypes
{
    display: none;
    border: 1px solid #242424;
    position: absolute;
    z-index: 10000;
    margin-left: 4px;
    font-family: Verdana !important;
    background-color: #333333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


/*---------------------------------------------------------------------------------------------------------*/
/* 9.Styles for custom scrollbar*/

.scrollbar_track
{
    position: absolute;
    right: 0;
    top: 4px;
    background-color: transparent;
    cursor: default;
    display: block;
}

.scrollbar_handle
{
    position: relative;
    width: 8px;
    background-color: gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.9;
    -moz-opacity: 0.9;
    cursor: default;
    behavior: url("styles/PIE.htc");
}

.scrollbar_container
{
    height: 128px;
    position: relative;
}

.scrollbar_content
{
    overflow: hidden;
    height: 124px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*10.Styles for Loading indicator container*/

.divLoadingIndicator
{
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1004;
    position: absolute;
    bottom: 0px;
    filter: alpha(opacity = 55);
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.65);
    -pie-background: rgba(0,0,0,0.65);
    behavior: url("styles/PIE.htc");
}

input:-moz-placeholder
{
    color: gray;
}
textarea:-moz-placeholder
{
    color: gray;
}

